{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 align-self-center">
        <div class="card">
          <div class="card-body">
            <h2>Login</h2>
            <form method="post" class="form-signin">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username">Username</label>
                <input id="id_username" name="username"
                       type="text" class="form-control" placeholder="Enter Username">
              </div>
              <div class="form-group">
                <label for="id_password">Password</label>
                <input id="id_password" name="password"
                       type="password" class="form-control" placeholder="Password">
              </div>
              {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  Your username and password didn't match.
                  Please try again.
                </div>
              {% endif %}
              <button type="submit" class="btn btn-primary">Login with email</button>
            </form>
            <p style="margin-top: 15px" class="alert-info">OR</p>
            <a role="button" href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-info">
              Login with Google
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}