{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ user.profile.avatar.url }}" alt="Avatar">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      New Tweet
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New tweet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'new_tweet' %}">
              {% csrf_token %}
              <div class="form-group">
                <input name="tweet_title" type="text" id="tweet-title" placeholder="Tweet title" class="form-control">
                <textarea name="tweet_text" maxlength="280" style="min-height:100px;height:100%;width:100%;"
                          placeholder="What's happening?" class="form-control" id="recipient-name"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Tweet</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item active">Latest Tweets</li>
      {% for tweet in tweets %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ tweet.author }}</h5>
              <small class="text-muted">{{ tweet.tweet_title }}</small>
            </div>
            <p class="mb-1">{{ tweet.tweet_text }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <form action="{% url 'upload_avatar' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      <p>
        <input type="file"  name="avatar">
      </p>
      <input type="submit" value="Submit"/>
    </form>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="alert alert-primary" role="alert">
            You are not logged in.
          </div>
          <a href="{% url 'login' %}" class="btn btn-primary">login</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}